
.ChatRoom {
  width:100%;
  height: 100%;
  position: fixed;
}
.ChatRoom  .chat-container{
  width:100%;
  height: 100%;

}
.ChatRoom  .chat-container .row{
  height: 100%;
  position: relative;
}
.ChatRoom  .chat-container .row >Col {
  padding: 0
}
.ChatRoom  .chat-container .row .bottom-input{
  bottom: 51px;
  width : 90%;
  position: absolute;
}

.ChatRoom  .chat-container table{

  width: 107%;
}
.ChatRoom  .chat-container .tableContainer{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
}

.ChatRoom  .chat-container .ConnectedUsers{
  height: 100%;
  width:100%;

}

.ConnectedUsers .tableContainer .table tr:hover {
  background-color: grey;
  cursor: pointer;
}
